.coins {
  display: flex;
  flex-direction: column;
  color: white;
  height: auto;
  background-color: #0D0D0D;
  display: flex;
  color: #999999;
  margin: 10px 6rem;
}

.coins-dash {
  color: white;
  font-size: larger;
  display: flex;
  padding: 12px 0;
}

.coins-dash:hover {
  background-color: #181818;
  cursor: pointer;
}

.name {
  display: flex;
}

.common {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.image {
  height: 30px;
  width: 30px;
  padding-right: 10px;
}

.name-symbol {
  padding-left: 10px;
  color: #999999;
}

.coin-box {
  width: 40px;
}

.coin-box-red {
  width: fit-content;
  padding: 4px 10px;
  text-align: center;
  background-color: #310D0D;
}

.coin-box-green {
  padding: 4px 10px;
  width: fit-content;
  background-color: #052910;
  text-align: center;
}