.coins {
  display: flex;
  flex-direction: column;
  color: white;
  height: auto;
  background-color: #0D0D0D;
  display: flex;
  color: #999999;
  margin: 10px 6rem;
}

.coins-dash {
  color: white;
  font-size: larger;
  display: flex;
  padding: 12px 0;
}